################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSIVueloAPI/.vs/RSIVueloAPI/v15
