################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RSIVueloAPI/.vs/RSIVueloAPI/v15
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/RSIVueloAPI/.vs/config/applicationhost.config
/.vs/RSI-Vuelo/v15/.suo
